table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  -webkit-box-shadow: inset 0 -1.5em 0.7em -0.7em rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 -1.5em 0.7em -0.7em rgba(0,0,0,0.4);
  box-shadow: inset 0 -1.5em 0.7em -0.7em rgba(0,0,0,0.4);
}

/*mat-row.example-element-row:not(.example-expanded-row):active {*/
/*  background: #efefef;*/
/*}*/


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
