<mat-toolbar color="primary">
  <button mat-fab (click)="sidenav.toggle()" (press)="sidenav.toggle()" style="margin: 1em">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <div *ngIf="!loggedIn">
    <button mat-raised-button routerLink="/login">Login</button>
    <button mat-raised-button routerLink="/register">Register</button>
  </div>
  <div *ngIf="loggedIn">
    <button mat-raised-button (click)="logout()">Log out</button>
  </div>
</mat-toolbar>
<mat-sidenav-container style="height: 100%">
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/classes">Classes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
